<div class="comment-form">
  <%= form_for @comment, url: app_comments_path do |f| %>
    <%= render_error_messages(f.object) %>
    <%= f.hidden_field :commentable_id %>
    <%= f.hidden_field :commentable_type %>
    <ul>
      <li>
        <%= f.label :comment %>
        <%= f.text_area :comment %>
      </li>

      <li>
        <%= submit_tag %>
      </li>
    </ul>
  <% end %>
</div>
