<li class="comment">
  <% present comment do |comment| %>
    <div class="meta">
      <%= comment.upvote_link(current_user) %>
      <%= comment.author_link %>
      , il y a
      <%= link_to time_ago_in_words(comment.created_at), app_comment_path(comment) %>
      - <%= comment.points_count %>
    </div>
    <div class="body">
      <%= simple_format(comment.comment) %>
    </div>
  <% end %>
</li>
