%ol.main
  - @posts.each do |post|
    %li
      .post
        %a{href: post.url}= post.title
        .domain= post.url.split('/')[2]
      .meta
        = "#{t('posts.points.count', count: post.like_emotions_count)}"
        = "et #{t('posts.comments.count', count: post.comments_count)}"
        |
        Soumis par
        %a{href: '#'}= post.user.username
        , il y a 
        = time_ago_in_words(post.created_at)
