%ol.main
  - @posts.each do |post|
    %li
      .post
        %a{href: post.url}= post.title
        .domain= post.url.split('/')[2]
      .meta
        .points
          %i.fa.fa-heart-o
          = post.like_emotions_count
        .comments
          %i.fa.fa-comment-o
          = t('posts.comments.count', count: post.comments_count)
        .submitter
          |
          %span
            Soumis par
            %a{href: '#'}= post.user.username
