<% content_for :current_section, :submit %>
<% content_for :page_title, t('.page_title') %>

<%= form_for @post, url: app_posts_path do |f| %>
  <%= render_error_messages(f.object) %>

<form role="form">

  <div>
    <div class="half">
      <%= f.label :title, :class => "control-label" %>
      <%= f.text_field :title, :class => "form-control" %>
    </div>

    <div class="half">
      <%= f.label :url, :class => "control-label" %>
      <%= f.url_field :url, :class => "form-control" %>
    </div>
  </div>

  <div>
    <%= f.label :description, :class => "control-label" %>
    <%= f.text_area :description, :class => "form-control" %>
  </div>

  <div>
    <%= submit_tag nil, :class => "btn btn-primary"%>
  </div>
  </ul>
<% end %>
