<% content_for :current_section, :submit %>

<%= form_for @post do |f| %>
  <ul>
    <li>
      <%= f.label :url %>
      <%= f.url_field :url %>
    </li>

    <li>
      <%= f.label :title %>
      <%= f.text_field :title %>
    </li>

    <li>
      <%= f.label :description %>
      <%= f.text_area :description %>
    </li>

    <li>
      <%= submit_tag %>
    </li>
  </ul>
<% end %>
