<% content_for :current_section, :submit %>
<%= form_for @post, url: app_posts_path do |f| %>
  <%= render_error_messages(f.object) %>

<form class="form-horizontal" role="form">
  <div class="row">
    <div class="form-group col-sm-6">
      <%= f.label :title, :class => "control-label" %>
      <%= f.text_field :title, :class => "form-control" %>
    </div>
    <div class="form-group col-sm-6">
      <%= f.label :url, :class => "control-label" %>
      <%= f.url_field :url, :class => "form-control" %>
    </div>
  </div>
    <div class="form-group">
      <%= f.label :description, :class => "control-label" %>
      <%= f.text_area :description, :class => "form-control" %>
    </div>

    <div class="form-group">
      <%= submit_tag nil, :class => "btn btn-default"%>
    </div>
  </ul>
<% end %>
