<% content_for :current_section, :users %>
<% content_for :page_title, @user.username %>

<% present @user do |user| %>
  <table>
    <tr>
      <th>user:</th>
      <td>
        <%= user.name %>
        (<%= link_to(user.username, user.github_profile_url) %>)
      </td>
    </tr>
    <tr>
      <th>created:</th>
      <td><%= time_ago_in_words(user.created_at) %> ago</td>
    </tr>
    <tr>
      <th>karma:</th>
      <td><%= user.karma %></td>
    </tr>
    <tr>
      <th>présentateur?</th>
      <td><%= user.is?(:speaker) ? 'Hell yeah' : 'Ça va venir!' %></td>
    </tr>
  </table>
<% end %>
