%ol.main
  - @links.each do |link|
    %li
      .link
        %a{href: '#'}= link.title
        .domain= 'opencode.ca'
      .meta
        .points
          %i.fa.fa-heart-o
          = link.like_emotions_count
        .comments
          %i.fa.fa-comment-o
          = t('links.comments.count', count: link.comments_count)
        .submitter
          |
          %span
            Soumis par
            %a{href: '#'}= 'garno'
