<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <title><%= page_title(base: t('.base_title')) %></title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= csrf_meta_tags %>
    <%= auto_discovery_link_tag(:rss, app_rss_url) %>
    <%= auto_discovery_link_tag(:rss, newest_app_posts_url(format: :rss)) %>
    <%= auto_discovery_link_tag(:rss, popular_app_posts_url(format: :rss)) %>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" rel="stylesheet">
  </head>
  <body class="nav-close">
    <%= render partial: 'shared/nav' %>
    <div class="progress_bar"></div>

    <div class="container">
      <%= render partial: 'shared/notices' %>
      <%= yield %>
      <%= render partial: 'shared/footer' %>
    </div>
  </body>
</html>
